.main-page-title {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: xx-large;
  padding: 1rem;
  text-align: center;
}

.recent-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  margin: 1rem;
  gap: 1rem;
}
